.anchor {
    align-items: center;
    background-color: rgb(11, 11, 11);
    box-shadow: 0px 0px 4px 2px rgb(255, 255, 255);
    border-radius: 100%;
    bottom: 0;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 16px;
    position: fixed;
    right: 0;
    width: 48px;
}

.anchor:hover {
    background-color: rgb(231, 231, 231);
    box-shadow: 0px 0px 4px 2px rgb(0, 0, 0);
    color: rgb(11, 11, 11);
}