.anchor {
    align-items: center;
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 100%;
    bottom: 0;
    display: flex;
    height: 48px;
    justify-content: center;
    margin: 16px;
    position: fixed;
    right: 0;
    width: 48px;
}

.anchor:hover {
    background-color: rgb(231, 231, 231);
    border-color: rgb(23, 23, 23);
    color: rgb(23, 23, 23);
}