.banner {
    align-items: center;
    background-image: url(../img/site/banner.png);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: center;
    width: 100%;
}

@media (max-width: 1000px) {
    .banner {
        background-image: url(../img/site/mobile.png);
    }
}