.button {
    background-color: rgb(23, 23, 23);
    border: none;
    border-radius: 24px;
    font-size: 16px;
    margin: 4px;
    padding: 8px;
    padding-top: 11px;
}

.button-mobile {
    background-color: rgb(23, 23, 23);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    margin: 4px;
    padding: 8px;
}

.button b {
    padding-top: 8px;
}

.button:hover {
    background-color: rgb(47, 47, 47);
}

.button-mobile:hover {
    background-color: rgb(47, 47, 47);
}