.button {
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    padding: 12px;
    padding-top: 14px;
}

.button-mobile {
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 8px;
}

.live-button {
    margin-top: 20%;
}

.menu-button {
    margin: 0px 8px;
}

.button:hover {
    background-color: rgb(47, 47, 47);
}

.button-mobile:hover {
    background-color: rgb(47, 47, 47);
}

@media (max-width: 768px) {
    .menu-button {
        margin: 8px 0px;
    }
    .live-button {
        margin-top: 50%;
    }
}