.button {
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.4);
    font-size: 16px;
    padding: 12px;
    padding-top: 14px;
}

.button-mobile {
    background-color: rgb(31, 31, 31);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    padding: 8px;
}

.menu-button {
    margin: 0px 8px;
}

.button:hover {
    background-color: rgb(47, 47, 47);
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 1);
}

.button-mobile:hover {
    background-color: rgb(47, 47, 47);
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    .menu-button {
        margin: 8px 0px;
    }
}