.blue {
    color: #16b2c8;
}

.green {
    color: #16c868;
}

.orange {
    color: #ea5d0e;
}

.red {
    color: #f52424;
}

.scarlet {
    color: #eb1353;
}

.white {
    color: white;
}

.yellow {
    color: #eeb217;
}