.contribute {
    align-items: center;
    display: flex;
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 4px;
    height: fit-content;
    justify-content: space-around;
    padding: 16px;
    width: fit-content;
}

.contribute-area {
    align-items: center;
    background-color: rgb(15, 15, 15);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    padding: 64px 0px;
    width: 100%;
}

.contribute-text .extenda:nth-child(1) {
    margin-right: 8px;
}

.contribute-text .extenda:nth-child(2) {
    margin-right: 8px;
}

.contribute:hover {
    background-color: rgb(47, 47, 47);
}

@media (max-width: 768px) {
    .contribute {
        font-size: 24px;
        margin: 0px;
        padding: 16px;
    }
    .contribute-text {
        flex-direction: column;
        text-align: center;
    }
}