.contribute {
    align-items: center;
    display: flex;
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 4px;
    height: fit-content;
    justify-content: center;
    margin: 32px;
    margin-top: 160px;
    padding: 16px;
    padding-top: 18px;
    width: fit-content;
}

.contribute-area {
    align-items: center;
    background-image: url(../img/site/front.png);
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
    width: 100%;
}

.contribute-text {
    background-color: rgb(23, 23, 23);
    border: 2px solid rgb(231, 231, 231);
    border-radius: 4px;
    display: flex;
    padding: 16px;
    padding-top: 22px;
}

.contribute-text .extenda:nth-child(1) {
    margin-right: 8px;
}

.contribute-text .extenda:nth-child(2) {
    margin-right: 8px;
}

.contribute:hover {
    background-color: rgb(47, 47, 47);
}

@media (max-width: 768px) {
    .contribute {
        font-size: 24px;
    }
    .contribute-text {
        flex-direction: column;
        text-align: center;
    }
}