.contribute {
    align-items: center;
    display: flex;
    background-color: rgb(11, 11, 11);
    border-radius: 12px;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255);
    height: fit-content;
    justify-content: space-around;
    padding: 12px;
    width: fit-content;
}

.contribute-area {
    align-items: center;
    background-image: linear-gradient(to right, rgb(31, 31, 31), rgb(63, 63, 63));
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-around;
    padding: 64px 0px;
    width: 100%;
}

.contribute-box {
    align-items: center;
    background-color: rgb(23, 23, 23);
    border-radius: 16px;
    box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.4);
    display: flex;
    flex-direction: column;
    margin: 16px;
    min-height: 384px;
    padding: 32px;
    width: 20%;
}

.contribute-box * {
    padding-bottom: 16px;
}

.contribute-options {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 64px;
    width: 60%;
}

.contribute-page {
    align-items: center;
    background-color: rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 64px 0px;
    width: 100%;
}

.contribute-text .extenda:nth-child(1) {
    margin-right: 8px;
}

.contribute-text .extenda:nth-child(2) {
    margin-right: 8px;
}

.contribute:hover {
    background-color: rgb(47, 47, 47);
}

@media (max-width: 768px) {
    .contribute {
        font-size: 24px;
        margin: 0px;
        padding: 16px;
    }
    .contribute-box {
        margin: 16px 0px;
        min-height: 0px;
        padding: 16px;
        width: 80%;
    }
    .contribute-options {
        align-items: center;
        flex-direction: column;
        width: 80%;
    }
    .contribute-text {
        flex-direction: column;
        text-align: center;
    }
}