.date {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.detail {
    font-family: Albert Sans;
    font-size: 16px;
    font-weight: 600;
    margin: 8px 16px;
    text-align: left;
}

.event-area {
    align-items: center;
    background-color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 64px;
}

.event-date {
    font-family: Albert Sans;
    font-size: 24px;
    margin: 0;
}

.events {
    align-items: center;
    background-color: rgb(31, 31, 31);
    border-radius: 16px;
    display: flex;
    margin: 32px;
    overflow: hidden;
}

.event-image {
    border-radius: 4px;
    height: 150px;
}

.event-number {
    font-family: Albert Sans;
    font-size: 32px;
    margin: 0;
}

.event-title {
    font-family: Albert Sans;
    font-size: 16px;
    margin: 0;
    margin-bottom: 8px;
    text-align: left;
}

.info {
    align-items: center;
    display: flex;
    width: 400px;
}

@media (max-width: 768px) {
    .events {
        border-radius: 16px;
        flex-direction: column;
        margin: 16px;
        width: 75%;
        min-width: 0px;
        padding: 16px;
    }
    .event-content {
        margin: 24px 8px 8px 8px;
    }
}