@font-face {
    font-family: Gilroy;
    margin: 0px;
    src: url(../fonts/Gilroy.ttf);
}

@font-face {
    font-family: Extenda;
    margin: 0px;
    src: url(../fonts/Extenda.ttf);
}

@font-face {
    font-family: PlaywriteBR;
    margin: 0px;
    src: url(../fonts/PlaywriteBR.ttf);
}

.bold {
    font-weight: bold;
}

.gilroy {
    font-family: Gilroy;
    font-weight: bold;
    margin: 0;
}

.gilroy-14 {
    font-family: Gilroy;
    font-size: 14px;
    margin: 0;
}

.gilroy-18 {
    font-family: Gilroy;
    font-size: 18px;
    margin: 0;
}

.gilroy-20 {
    font-family: Gilroy;
    font-size: 20px;
    margin: 0;
}

.gilroy-24 {
    font-family: Gilroy;
    font-size: 24px;
    margin: 0;
}

.gilroy-32 {
    font-family: Gilroy;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

.gilroy-40 {
    font-family: Gilroy;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.gilroy-48 {
    font-family: Gilroy;
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}

.gilroy-mobile {
    font-family: Gilroy;
    font-size: 18px;
}


.extenda-32 {
    font-family: Extenda;
    font-size: 32px;
    margin: 0;
}

.extenda-48 {
    font-family: Extenda;
    font-size: 48px;
    margin: 0;
}

.extenda {
    font-family: Extenda;
    font-size: 64px;
    margin: 0;
}

.title {
    display: flex;
    flex-direction: column;    
    text-align: center;
}

.title .extenda:first-child{
    margin-right: 8px;
}

@media (max-width: 768px) {
    .title {
        font-size: 32px;
        margin: 0;
    }

    .gilroy {
        font-size: 14px;
    }

    .gilroy-18 {
        font-size: 16px;
    }
    
    .gilroy-20 {
        font-size: 18px;    
    }
    
    .gilroy-24 {
        font-size: 22px;
    }
    
    .gilroy-32 {
        font-size: 30px;    
    }

    .gilroy-40 {
        font-size: 36px;    
    }

    .gilroy-48 {
        font-size: 40px;    
    }
    
    .extenda-32 {
        font-size: 30px;
    }
    
    .extenda-48 {
        font-size: 46px;
    }
    
    .extenda {
        font-size: 56px;
    }
    
    .playwrite-br {
        font-size: 14px;
    }
    
    .playwrite-br-32 {
        font-size: 16px;
        text-align: center;
    }
}