.footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 32px;
    padding-bottom: 7vh;
    padding-left: 10vw;
}

@media (max-width: 768px) {
    .footer {
        font-size: 12px;
    }
}