.live {
    border-radius: 4px;
    background-color: rgb(11, 11, 11);
    padding: 16px;
    padding-top: 18px;
}

.live:hover {
    background-color: rgb(239, 239, 239);
}

.live:hover p {
    color: rgb(11, 11, 11);
    transition: ease 0.5s;
}