.main-title {
    display: flex;
    justify-content: center;
    margin-top: 64px;
}

.main-title .extenda:first-child{
    margin-right: 8px;
}

.main-description {
    margin-bottom: 24px;
    margin-top: 24px;
}

@media (max-width: 768px) {
    .main {
        padding: 0px;
    }
    .main-bold {
        font-size: 16px;
        text-align: center;
    }
}