.maps {
    display: inline;
    touch-action: pan-x pan-y;
}

.maps-mobile {
    display: none;
}

@media (max-width: 768px) {
    .maps {
        display: none;
    }
    .maps-mobile {
        display: inline;

    }
}