.mobile-button {
    border-radius: 100%;
    display: none;
    height: 24px;
    padding: 8px;
}

.mobile-button:hover .svg-hover {
    fill: rgb(11, 11, 11);
}

.mobile-button:hover {
    background-color: rgb(231, 231, 231);
}

@media (max-width: 768px) {
    .mobile-button {
        display: inline;
    }
}