.preacher {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 32px;
}

.preacher-area {
    width: 75%;
}

.preacher-icon {
    border-radius: 100%;
}

.preachers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (max-width: 768px) {
    .preacher {
        justify-content: center;
        margin: 8px;
        width: 160px;
    }
    .preacher-area {
        width: 100%;
    }
    .preacher-icon {
        height: 128px;
        width: 128px;
    }
    .preachers {
        margin-top: 32px;
        width: 100%;
    }
}