.social {
    display: flex;
    height: 40px;
}

.social-home {
    display: flex;
}

.social-mobile-tab {
    display: flex;
    height: 40px;
    margin-bottom: 16px;
    margin-top: 16px;
}

.social-button:hover .svg-hover {
    fill: rgb(31, 31, 31);
}

.social-button:hover .svg-hover-invert {
    fill: rgb(231, 231, 231);
}

.social-button {
    background-color: rgb(31, 31, 31);
    border-radius: 100%;
    height: 24px;
    margin: 0 8px;
    padding: 8px;
}

.social-button:hover {
    background-color: rgb(231, 231, 231);
    transition: ease 0.5s;
}

@media (max-width: 768px) {
    .social {
        display: none;
    }
}