body {
    margin: 0;
}

.button {
    color: white;
    background-color: rgb(47, 47, 47);
    border: none;
    border-radius: 24px;
    font-size: 14px;
    margin: 4px;
    padding: 6px;
}

.button:hover {
    background-color: rgb(15, 15, 15);
    transition: ease 0.5s;
}

.footer-temp {
    align-items: center;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.header {
    align-items: center;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    padding: 16px;
}

.main-temp {
    height: 100vh;
}

.menu-tab {
    background-color: rgb(47, 47, 47);
    border-radius: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 16px;
    padding: 0px 24px;
}

.menu-tab-temp-mobile {
    background-color: black;
    border-radius: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 8px;
    padding: 16px;
}

.mobile-button-temp {
    display: none;
}

.social {
    display: flex;
    height: 40px;
}

.social-button:hover .svg-hover {
    fill: black;
    transition: ease 0.5s;
}

.social-button:hover .svg-hover-invert {
    fill: white;
    transition: ease 0.5s;
}

.social-button {
    background-color: black;
    border-radius: 100%;
    margin: 0 4px;
    padding: 8px;
}

.social-button:hover {
    background-color: white;
    transition: ease 0.5s;
}

.svg-hover {
    fill: white
}

.svg-hover-invert {
    fill: black
}

@media (max-width: 600px) {
    .button-temp {
        font-size: 16px;
        margin: 2px;
        padding: 4px;
        width: 96px;
    }
    .header-temp {
        flex-direction: column;
    }
    .logo-temp {
        font-size: 24px;
        margin-bottom: 16px;
    }
    .menu-tab-temp {
        display: none;
    }
    .mobile-button-temp {
        display: inline;
    }
  }