.subscribe {
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    padding: 8px;
    width: 96px;
    padding-top: 10px;
    text-align: center;
}

.subscribe:hover {
    background-color: rgb(159, 159, 159);
}

.subscribe-text {
    color: rgb(23, 23, 23);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.subscribe-content {
    align-items: end;
    margin: 0 16px;
    width: fit-content;
}

@media (max-width: 1080px) {
    .subscribe-content {
        margin: 0 8px 0 0;
    }
}

@media (max-width: 900px) {
    .subscribe {
        width: 96px;
    }
}

@media (max-width: 790px) {
    .subscribe {
        width: 88px;
    }
    .subscribe-text {
        color: rgb(23, 23, 23);
        font-size: 14px;
        font-weight: 600;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .subscribe {
        width: 96px;
    }    
    .subscribe-text {
        font-size: 16px;
    }
    .subscribe-content {
        margin: 16px 0 32px 0;
    }
}