.subscribe {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    width: fit-content;
}

.subscribe:hover {
    background-color: rgb(159, 159, 159);
}

.subscribe-text {
    color: black;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.subscribe-content {
    align-items: end;
    margin: 0 16px;
    width: fit-content;
}