.subscribe {
    background-color: rgb(231, 231, 231);
    border-radius: 4px;
    padding: 8px;
    width: fit-content;
    padding-top: 10px;
}

.subscribe:hover {
    background-color: rgb(159, 159, 159);
}

.subscribe-text {
    color: rgb(23, 23, 23);
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.subscribe-content {
    align-items: end;
    margin: 0 16px;
    width: fit-content;
}