.visit-area {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 64px 0px;
    width: 70%;
}

.visit-text {
    padding-bottom: 32px;
}

.visit-text-bottom {
    padding-top: 32px;
}

.visit {
    padding-bottom: 16px;
}

